<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
        <add key="SystemUrl" value="http://192.168.0.98:8080/portal/index_default.jsp"/>
  </appSettings>
</configuration>