<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SystemUrl" value="http://192.168.2.205:8081/"/>
    <add key="SocketServerIp" value="192.168.2.15"/>
    <add key="SocketServerPort" value="18899"/>


    <add key="loginId" value="D913C3FB-43C5-44F7-8F85-707F4AFBAC65"/>
    <add key="username" value="xkshebei1"/>
    <add key="password" value="123123"/>
  </appSettings>
</configuration>